<div class="d-flex align-items-center pb-1">
  <a><img src="./assets/images/arrow-left.svg" class="mr-1" /></a>
  <h3 class="title">Yangi so'z qo'shish</h3>
</div>

<div class="inner-content">
  <div class="flex-grow-1">
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">New word</nz-form-label>

        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <input type="text" nz-input />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Tarjima</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixMinusIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixMinusIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon nzType="minus"></i>
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="secondary-translation"
          >Tarjima</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon nzType="plus"></i>
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div>
    <button nz-button nzBlock nzSize="large" [nzType]="'primary'">
      Saqlash
    </button>
  </div>
</div>
